# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KC1_LEFT
    def_bool $(shields_list_contains,kc1_left)

config SHIELD_KC1_RIGHT
    def_bool $(shields_list_contains,kc1_right)
